
.slider-wrapper {
    position: relative;
    width: 350px;  /* Увеличенная ширина ползунка */
    height: 70px;  /* Увеличенная высота ползунка */
    background: #917f76;
    border-radius: 40px;
    display: flex;
    align-items: center;
}

.sos-circle {
    position: absolute;
    left: 0;
    width: 70px;  /* Увеличенный размер круга */
    height: 70px;
    background: red;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.4rem;
    cursor: grab;
    transition: left 0.5s ease-in-out;  /* Плавное перемещение */
}
